body {
    margin: none;
    padding: none;
    background-color: rgb(37, 42, 69);
}


.row {
    padding-top: 50px;
}

.card {
    background-color: rgba(255, 255, 255, 0.53);
    color: rgb(37, 42, 69);
    margin: auto auto auto auto;
}

i{
    margin: 25px auto 25px 41px;
    position: relative;
    font-size: 7rem;
    color: rgb(37, 42, 69);
}

#carouselExampleControls {
    margin-top: 5%;
}

.card-body {
    border: 20px solid transparent;
    padding: 20px;
    border-image-source: url("border/border.png");
    border-image-repeat: stretch;
    border-image-slice: 20;
}